body {
    background-color: #FAFAFA;
}

#row1 {
    justify-content: space-evenly;
}

#row2 {
    
    justify-content: space-evenly;
}

#logo {
    
}

#text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.prow {
    display: flex;
}

.imgDesc {
    text-align: center;
}

#IG {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
}

#IGlogo {
    
}